
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHBOARD</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
       <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='dashboard/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='dashboard/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='dashboard/css/style.css') }}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='dashboard/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='dashboard/css/style.css') }}" rel="stylesheet">


      <style>

form {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f6f6f6;
      border-radius: 5px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }




    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

 <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Maternal Health</h3>
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="{{ url_for('chart') }}" class="w3-bar-item w3-button">Dashboard</a>
        <a href="https://omdena.com/chapter-challenges/analyzing-maternal-health-in-nigeria-using-machine-learning/"
            class="w3-bar-item w3-button">About</a>
    </div>

<!-- Page Content -->
<div style="margin-left:25%">

    <div class="w3-container w3-teal w3-center">
     
        <h1 style="color: white;">Analyzing Maternal Health in Nigeria using Machine Learning</h1>
      </div>
      <div class="w3-container">
        <form action="{{ url_for('predict') }}" method="post" width="100%">
        
      <label for="age">Respondent's Current Age:</label>
      <input type="number" id="age" name="age" required>
  
      <label for="education">Education in Single Years:</label>
      <input type="number" id="education" name="education" required>
  
      <label for="totalChildren">Total Children Ever Born:</label>
      <input type="number" id="totalChildren" name="totalChildren" required>
  
      <label for="smokesCigarettes">Smokes Cigarettes:</label>
      <select id="smokesCigarettes" name="smokesCigarettes">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      
      <label for="maritalStatus">Current Marital Status:</label>
      <select id="maritalStatus" name="maritalStatus">
        <option value="Current marital status_Living with partner">Living with Partner</option>
        <option value="Current marital status_Married">Married</option>
        <option value="Current marital status_Never in union">Never in Union</option>
        <option value="Current marital status_No longer living together/separated">No Longer Living Together/Separated</option>
        <option value="Current marital status_Widowed">Widowed</option>
      </select>
  
      <label for="livingArrangement">Currently Residing with Husband/Partner:</label>
      <select id="livingArrangement" name="livingArrangement">
        <option value="Currently residing with husband/partner_Not Available (single)">Not Available (single)</option>
        <option value="Currently residing with husband/partner_Staying elsewhere">Staying Elsewhere</option>
      </select>
  
      <label for="stateOfResidence">State of Residence:</label>
      <select id="stateOfResidence" name="stateOfResidence">
        <option value="State of residence_Adamawa">Adamawa</option>
        <option value="State of residence_Akwa Ibom">Akwa Ibom</option>
        <option value="State of residence_Anambra">Anambra</option>
        <option value="State of residence_Bauchi">Bauchi</option>
        <option value="State of residence_Bayelsa">Bayelsa</option>
        <option value="State of residence_Benue">Benue</option>
        <option value="State of residence_Borno">Borno</option>
        <option value="State of residence_Cross River">Cross River</option>
        <option value="State of residence_Delta">Delta</option>
        <option value="State of residence_Ebonyi">Ebonyi</option>
        <option value="State of residence_Edo">Edo</option>
        <option value="State of residence_Ekiti">Ekiti</option>
        <option value="State of residence_Enugu">Enugu</option>
        <option value="State of residence_FCT Abuja">FCT Abuja</option>
        <option value="State of residence_Gombe">Gombe</option>
        <option value="State of residence_Imo">Imo</option>
        <option value="State of residence_Jigawa">Jigawa</option>
        <option value="State of residence_Kaduna">Kaduna</option>
        <option value="State of residence_Kano">Kano</option>
        <option value="State of residence_Katsina">Katsina</option>
        <option value="State of residence_Kebbi">Kebbi</option>
        <option value="State of residence_Kogi">Kogi</option>
        <option value="State of residence_Kwara">Kwara</option>
        <option value="State of residence_Lagos">Lagos</option>
        <option value="State of residence_Nasarawa">Nasarawa</option>
        <option value="State of residence_Niger">Niger</option>
        <option value="State of residence_Ogun">Ogun</option>
        <option value="State of residence_Ondo">Ondo</option>
        <option value="State of residence_Osun">Osun</option>
        <option value="State of residence_Oyo">Oyo</option>
        <option value="State of residence_Plateau">Plateau</option>
        <option value="State of residence_Rivers">Rivers</option>
        <option value="State of residence_Sokoto">Sokoto</option>
        <option value="State of residence_Taraba">Taraba</option>
        <option value="State of residence_Yobe">Yobe</option>
        <option value="State of residence_Zamfara">Zamfara</option>
      </select>
  
      <label for="religion">Religion:</label>
      <select id="religion" name="religion">
        <option value="Religion_Islam">Islam</option>
        <option value="Religion_Other">Other</option>
        <option value="Religion_Other Christian">Other Christian</option>
        <option value="Religion_Traditionalist">Traditionalist</option>
      </select>
  
      <label for="ethnicity">Ethnicity:</label>
      <select id="ethnicity" name="ethnicity">
        <option value="Ethnicity_Ekoi">Ekoi</option>
        <option value="Ethnicity_Fulani">Fulani</option>
        <option value="Ethnicity_Hausa">Hausa</option>
        <option value="Ethnicity_Ibibio">Ibibio</option>
        <option value="Ethnicity_Igala">Igala</option>
        <option value="Ethnicity_Igbo">Igbo</option>
        <option value="Ethnicity_Ijaw/Izon">Ijaw/Izon</option>
        <option value="Ethnicity_Kanuri/Beriberi">Kanuri/Beriberi</option>
        <option value="Ethnicity_Other">Other</option>
        <option value="Ethnicity_Tiv">Tiv</option>
        <option value="Ethnicity_Yoruba">Yoruba</option>
      </select>
  <br><br>
      <input type="submit" value="Predict">
  
        </form>
      </div>
   
    
  
</div>

          

  
</body>

</html>